ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    text-decoration: none;
    font-family: cursive;

}

li {
    text-align: center;
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
}

li a:hover:not(.active) {
    background-color: #ffaec9;
    color:#800959;
    text-decoration: none;
    align-items: flex-end;
}
